* {
	margin: 0;
	padding: 0;
}

ul, ol {
  padding-left: 15px;
}

/* html {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
} */

iframe {
  border: 0;
}

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFont.woff2'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFont.woff2'); 
  font-weight: bold; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFont.woff2'); 
  font-weight: bolder; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFontCyrrilic.woff2'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFontCyrrilic.woff2'); 
  font-weight: bold; 
  font-style: normal; 
}

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFontCyrrilic.woff2'); 
  font-weight: bolder; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFontCyrrilicExt.woff2'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFontCyrrilicExt.woff2'); 
  font-weight: bold; 
  font-style: normal; 
} 

@font-face { 
  font-family: "Main"; 
  src: url('../assets/fonts/mainFontCyrrilicExt.woff2'); 
  font-weight: bolder; 
  font-style: normal; 
} 

