* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

ul,
ol {
    padding-left: 15px;
}

iframe {
    border: 0;
}

.MuiTable-root .MuiTableCell-root {
    padding: 0.5rem;
}
